body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: green;
}

header{
    background-color: black;
    color: #fff;
    padding: 1em;
    text-align: center;
    border-bottom: 2px solid #fff;
}

nav{
    background-color: red;
    text-align: center;
    padding: 0.5em;
}

nav a{
    color: #000;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
}

section{
    padding: 2em;
    border-top: 2px solid #fff;
}

section img{
    display: block;
    margin: 0 auto;
    max-width: 1px solid white;
}

footer{
    background-color: transparent;
    color: #000;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}